.grid-item.col-md-3.col-sm-6.col-xl-2
  a(data-hook='url', target='_blank', data-toggle='popover')
    img(data-hook='travis_badge_url', width=70, height=12)
    h3.grid-item-heading(data-hook='name')
    .avatar-container
      img.avatar(data-hook='avatar', height=128, width=128)
